body { font-family: Helvetica; background-color: black; color: white; }
.ui-overlay-a { background-color: black !important; }
.ui-page { background-color: black !important; }

div.game-body { width: 1000px; height: 640px; }
div.ui-content { color: white; text-shadow: 0 0 0 !important; }

.round { border-radius: 3px; }
.full-box { width: 96%; margin: 1%; padding: 1%; }
.half-box { width: 46%; margin: 1%; padding: 1%; }
div.question-body { width: 100%; height: 100%; }
div.question-status { background-color: #222; height: 3%; font-size: 20px; font-weight: bold; text-align: right; }
span.quiz-title { float: left; }
span.quiz-progress { float: right; }
div.question-header { background-color: #222; height: 26%; font-size: 30px; font-weight: bold; text-align: center; }
div.question-choice { background-color: #a01b1b; height: 26%; font-size: 24px; font-weight: bold; text-align: center; float: left; }
div.question-header p, div.question-choice p { line-height: 165px; margin: 0; }

div.score-status { text-align: center; }
div.score-header { background-color: #222; height: 26%; font-size: 150px; font-weight: bold; text-align: center; }
div.score-header p { margin: 0; }
