/* Styles */
  html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
}

html>body .content {
  height:auto;
}

#play-area {
  background:#C00;
}

.item-house {
  position: relative; width: 300px; height: 259px; background: url("img/propertyguru-300x259.original.jpg");
  background-repeat: no-repeat; background-position: center center;
}

.item-key0 {
  position: absolute; width: 256px; height: 256px; background: url("img/key1.png");
  background-repeat: no-repeat; background-position: center center;
}

.item-key1 {
  position: absolute; width: 256px; height: 256px; background: url("img/key2.png");
  background-repeat: no-repeat; background-position: center center;
}

.item-key2 {
  position: absolute; width: 256px; height: 256px; background: url("img/key3.png");
  -repeat: no-repeat; background-position: center center;
}

.item-key3 {
  position: absolute; width: 256px; height: 256px; background: url("img/key4.png");
  background-repeat: no-repeat; background-position: center center;
}

.item-key4 {
  position: absolute; width: 256px; height: 256px; background: url("img/key5.png");
  background-repeat: no-repeat; background-position: center center;
}

.item-gear {
  position: absolute; width: 64px; height: 64px; top: 0px; right: 0px;
  background: url("img/gear.png"); background-size: 64px 64px; background-repeat: no-repeat; background-position: center center;
}
